body{
    width: 500px;
    background-image: url(dog.jpg);
    background-size: cover;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 300px;
    width: 600px;
}

h1{
    color: white;
}

ul {
    text-decoration: none;
    list-style-type: none;
    margin: auto;
}

li a{
    text-decoration: none;
    color: white;
}

li a:hover{
    color: deepskyblue;
}


h2{
    color: white;
    margin: 0%;
    text-align: center;
}

p{
    text-align: center;
    margin: 0%;
    color: white;
}

button{
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: lightblue;
    cursor: pointer;
}
button:hover{
    background-color: deepskyblue;
}
button:active{
    background-color: dodgerblue;
}
